<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A Tartalom</title>
    <link rel="stylesheet" href="../../styles/style.min.css" />
  </head>
  <body>
    <div class="container">
      <section class="content">
        <h1>Ez a tartalom</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla gravida
          risus id turpis pulvinar scelerisque. Donec mollis congue erat,
          fermentum ultrices lorem. Vestibulum cursus euismod elit sit amet
          rhoncus. Etiam eu imperdiet risus, ut porta risus. Donec feugiat nec
          nulla vitae luctus. Quisque rutrum ex nec feugiat aliquam. Nunc in
          odio venenatis, tempus leo id, tincidunt leo. Sed sed fermentum sem,
          sit amet suscipit nibh. Vivamus sit amet augue orci. Sed blandit
          tellus sed ante molestie vulputate. Fusce condimentum eu erat et
          faucibus. Sed nunc sem, eleifend id diam at, mattis maximus ex.
          Quisque quis leo sed ligula lobortis vestibulum. Fusce pharetra ut
          urna in mollis. Integer luctus erat sed congue faucibus. Donec feugiat
          sodales tristique. Aenean finibus ex pharetra ex vestibulum, ut
          tincidunt lectus finibus. Donec euismod lacus dolor, id congue neque
          fermentum quis. Nullam suscipit pretium velit non venenatis. Fusce sed
          magna sit amet elit suscipit tempor. Maecenas elementum at sapien sed
          placerat. Nunc lobortis cursus risus, sed fringilla nisi ultricies
          vel.
        </p>
      </section>
    </div>
  </body>
</html>
