<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A Honlap</title>
    <link rel="stylesheet" href="../../styles/style.min.css">
  </head>
  <body>
    <div class="container">
      <form action="#">
        <div class="input-field">
          <label form="username-page">Felhasználónév</label>
          <input type="username" id="username-page" name="username"></input>
        </div>
        <div class="input-field">
          <label form="password-page">Jelszó</label>

          <input type="password" id="password-page" name="password"></input>
        </div>
        <div class="input-field">

          <button type="submit">login</button>
        </div>
      </form>
    </div>
  </body>
</html>
